@model DNVModel
 
<div class="mb-4">
    <h5 class="fw-bolder">@Model.PageName</h5>
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb"> 
            @foreach (var linkname in Model.LinkName)
            {
                if(linkname.isCurrentPage == true)
                {
                    <li class="breadcrumb-item active" aria-current="page">@linkname.pageName</li>
                }
                else
                {
                    <li class="breadcrumb-item"><a class="text-primary" asp-page="@linkname.linkName">@linkname.pageName</a></li>
                }
            }
        </ol>
    </nav>
</div>  