@page
@model LibraryManagement.Pages.IndexModel
@{
    Layout = "~/Pages/Shared/_HomepageLayout.cshtml";
}
<a class="text-center d-block mt-5 fw-bolder" asp-page="/Application/UserArea/Index">StudentArea</a>