<div id="Loader" style=" right: 0;
        left: 0" class="z-3 bg-secondary bg-opacity-25 position-fixed d-none w-100 top-0 bottom-0 h-100 m-0 p-0 parent-container">
    <div class="h-100 w-100 d-flex justify-content-center align-items-center">
        <div class="bg-white shadow rounded pt-0 d-flex align-items-center">
            <img src="~/image/Loader.gif" width="300">
            <div class="">
                <i style="font-size: 70px; margin-right: 50px"
                   class="text-secondarybi bi-database-fill-up opacity-100 "></i><br>
                <span class="fw-bolder" style="margin-left: 6px;">loading...</span>
            </div>
        </div>
    </div>
</div>