@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<div class="d-flex justify-content-center align-items-center mt-5 pt-5">
    <div class="w-50 p-5 rounded bg-white shadow-sm">
        <h4 class="mb-5 py-2  rounded-3 fw-bolder text-primary text-center bg-primary-subtle">Forgot Password</h4>
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <form method="post">
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text"><i class="text-primary fs-4 bi bi-person-circle"></i></span>
                    <input asp-for="Input.Email" class="form-control border border-2  rounded border-primary border-opacity-50" placeholder="Your Email/Username">
                </div>
                <span class="text-danger" asp-validation-for="Input.Email"></span>
            </div>
            <div class="d-flex justify-content-center align-items-center gap-2">
                <a asp-page="./Login" class="btn btn-outline-primary px-5 rounded-pill">Go Back</a>
                <button type="submit" class="btn btn-primary px-4 rounded-pill">Send to email <i class="fa-regular fa-envelope"></i></button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
