@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<span class="bg-primary-subtle d-block text-center px-5 py-4 rounded"> Please check your email to reset your password.</span>
