@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<span class="bg-primary-subtle d-block text-center px-5 py-4 rounded">Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.</span>